In [ ]:
# impoting necessary library
import pandas as pd
import numpy as np

In [ ]:
# To mount the drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

In [ ]:
# Reading the csv file
path="/content/drive/MyDrive/imf_data/"
files=os.listdir(path)
file_list=[f for f in files if os.path.isfile(os.path.join(path,f))]

** FILE LIST: **

['01_Quarterly_Greenhouse_Gas_GHG_Air_Emissions_Accounts.csv',
 '00_Indicators_Summary.csv',
 '02_Annual_Greenhouse_Gas_GHG_Air_Emissions_Accounts.csv',
 '05_CO2_Emissions_embodied_in_Domestic_Final_Demand_Production_and_Trade.csv',
 '04_CO2_Emissions_Emissions_Intensities_and_Emissions_Multipliers.csv',
 '03_National_Greenhouse_Gas_Emissions_Inventories_and_Implied_National_Mitigation_Nationally_Determined_Contributions_Targets.csv',
 '11_Trade_in_Low_Carbon_Technology_Products.csv',
 '21_Green_Bonds.csv',
 '23_Annual_Surface_Temperature_Change.csv',
 '22_Carbon_Footprint_of_Bank_Loans.csv',
 '24_Atmospheric_CO2_Concentrations.csv',
 '07_Environmental_Taxes.csv',
 '06_Direct_Investment-related_Indicators.csv',
 '09_Fossil_Fuel_Subsidies.csv',
 '08_Environmental_Protection_Expenditures.csv',
 '12_Bilateral_Trade_in_Low_Carbon_Technology_Products.csv',
 '15_Climate-driven_INFORM_Risk.csv',
 '20_RevenuesAssets_at_Risk_in_Disclosing_Firms.csv',
 '19_Carbon_Tax_to_RevenuesAssets_in_Disclosing_Firms.csv',
 '14_Climate-related_Disasters_Frequency.csv',
 '25_Change_in_Mean_Sea_Levels.csv',
 '18_NGFS_GDP_Losses_and_Benefits.csv',
 '13_Forest_and_Carbon.csv',
 '16_IMF-Adapted_ND-GAIN_Index.csv',
 '26_Land_Cover_Accounts.csv',
 '10_Renewable_Energy.csv',
 '17_NGFS_Transition_Pathways.csv']

In [ ]:
Environmental_Taxes['ISO2', 'ISO3','CTS Name'].unique()#Indicator_ID, Indicator

array(['Environmental Taxes',
       'Taxes on Energy (Including Fuel for Transport)',
       'Taxes on Pollution', 'Taxes on Resources',
       'Taxes on Transport (Excluding Fuel for Transport)'], dtype=object)

In [ ]:
Environmental_Taxes.describe()

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
count,7.440000e+02,7.480000e+02,7.480000e+02,7.560000e+02,7.580000e+02,8.080000e+02,8.240000e+02,8.280000e+02,8.360000e+02,8.360000e+02,...,9.320000e+02,9.300000e+02,9.340000e+02,1.195000e+03,1.193000e+03,1.189000e+03,1.171000e+03,1.139000e+03,1.047000e+03,6.600000e+02
mean,4.660734e+10,5.406942e+10,5.902429e+10,5.982012e+10,6.362630e+10,6.569532e+10,7.264611e+10,7.297869e+10,8.470369e+10,8.765305e+10,...,1.428156e+11,1.412383e+11,1.476702e+11,1.128900e+11,1.451120e+11,1.336839e+11,1.431637e+11,1.759476e+11,1.783135e+11,4.231766e+10
std,5.207829e+11,6.062627e+11,6.687402e+11,6.858402e+11,7.425599e+11,8.037306e+11,9.202632e+11,9.226889e+11,9.959190e+11,1.026459e+12,...,1.735394e+12,1.716176e+12,1.797706e+12,1.276614e+12,1.912413e+12,1.883467e+12,1.996719e+12,2.684028e+12,2.689141e+12,3.623077e+11
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,-2.030843e+11,-8.599620e+10,-1.284680e+10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.219869e-04,4.563496e-04,0.000000e+00,0.000000e+00
50%,6.500000e-02,1.050000e-01,1.400000e-01,1.850000e-01,1.850000e-01,3.000000e-01,4.450000e-01,5.100000e-01,5.350000e-01,5.400000e-01,...,8.050000e-01,8.050000e-01,8.750000e-01,1.040000e+00,1.030000e+00,1.040000e+00,1.140000e+00,1.122445e+00,9.800000e-01,4.700000e-01
75%,2.400000e+06,9.327500e+06,1.863750e+07,2.573000e+07,3.180000e+07,6.854000e+07,8.701000e+07,1.130800e+08,1.446575e+08,1.443275e+08,...,5.027125e+08,5.467175e+08,5.726250e+08,6.910000e+08,7.365678e+08,8.070000e+08,8.745751e+08,8.882923e+08,7.553800e+08,1.513400e+08
max,8.467700e+12,1.033477e+13,1.212289e+13,1.246584e+13,1.381614e+13,1.596442e+13,1.888470e+13,1.909994e+13,2.061008e+13,2.103882e+13,...,3.930960e+13,3.912833e+13,4.158797e+13,2.702000e+13,4.363200e+13,4.466600e+13,4.705000e+13,6.307460e+13,6.063100e+13,6.864347e+12

In [ ]:
#Greenhouse Gas(GCG) Emission

Indicators_Summary=pd.read_csv(path+"00_Indicators_Summary.csv")
# Useful to figure out Category of data
# Primary keys: Indicator_ID, Indicator
# Useful for web page information like 'Description', 'Country_Coverage', 'Time_Coverage','Last_Update_Date'

Quarterly_Greenhouse=pd.read_csv(path+"01_Quarterly_Greenhouse_Gas_GHG_Air_Emissions_Accounts.csv")
Annual_Greenhouse=pd.read_csv(path+"02_Annual_Greenhouse_Gas_GHG_Air_Emissions_Accounts.csv")
National_Greenhouse_Gas_Emissions=pd.read_csv(path+"03_National_Greenhouse_Gas_Emissions_Inventories_and_Implied_National_Mitigation_Nationally_Determined_Contributions_Targets.csv")
CO2_Emissions_Emissions=pd.read_csv(path+"04_CO2_Emissions_Emissions_Intensities_and_Emissions_Multipliers.csv")
CO2_Emissions_embodied=pd.read_csv(path+"05_CO2_Emissions_embodied_in_Domestic_Final_Demand_Production_and_Trade.csv")
Direct_Investment_Indicators=pd.read_csv(path+"06_Direct_Investment-related_Indicators.csv")

#Mitigation
Environmental_Taxes=pd.read_csv(path+"07_Environmental_Taxes.csv") #useful
Environmental_Protection_Expenditures=pd.read_csv(path+"08_Environmental_Protection_Expenditures.csv") #useful
Fossil_Fuel_Subsidies=pd.read_csv(path+"09_Fossil_Fuel_Subsidies.csv") #useful
Renewable_Energy=pd.read_csv(path+"10_Renewable_Energy.csv") # No finance in it
Trade_in_Low_Carbon_Technology_Products=pd.read_csv(path+"11_Trade_in_Low_Carbon_Technology_Products.csv") # No finance in it
Bilateral_Trade_in_Low_Carbon_Technology_Products=pd.read_csv(path+"12_Bilateral_Trade_in_Low_Carbon_Technology_Products.csv") #Useful
Forest_and_Carbon=pd.read_csv(path+"13_Forest_and_Carbon.csv") # No finance in it

#Adaption
Climate_Related_Disasters_Frequency=pd.read_csv(path+"14_Climate-related_Disasters_Frequency.csv") # No finance in it
Climate_Risk=pd.read_csv(path+"15_Climate-driven_INFORM_Risk.csv") # No finance in it
IMF_Adaption_Gain_Index=pd.read_csv(path+"16_IMF-Adapted_ND-GAIN_Index.csv") # No finance in it

#Transition to a low carbon Econonmy
NGFS_Transition_Pathways=pd.read_csv(path+"17_NGFS_Transition_Pathways.csv")
NGFS_GDP_Losses_and_Benefits=pd.read_csv(path+"18_NGFS_GDP_Losses_and_Benefits.csv")
Carbon_Tax_to_RevenuesAssets_in_Disclosing_Firms=pd.read_csv(path+"19_Carbon_Tax_to_RevenuesAssets_in_Disclosing_Firms.csv")
RevenuesAssets_at_Risk_in_Disclosing_Firms=pd.read_csv(path+"20_RevenuesAssets_at_Risk_in_Disclosing_Firms.csv")

#Climate Finance
Green_Bonds=pd.read_csv(path+"21_Green_Bonds.csv") #useful
Carbon_Footprint_of_Bank_Loans=pd.read_csv(path+"22_Carbon_Footprint_of_Bank_Loans.csv") #useful

#Climate and Weather
Annual_Surface_Temperature_Change=pd.read_csv(path+"23_Annual_Surface_Temperature_Change.csv")
Atmospheric_CO2_Concentrations=pd.read_csv(path+"24_Atmospheric_CO2_Concentrations.csv")
Change_in_Mean_Sea_Levels=pd.read_csv(path+"25_Change_in_Mean_Sea_Levels.csv")
Land_Cover_Accounts=pd.read_csv(path+"26_Land_Cover_Accounts.csv")

USEFUL DATASETS:

In [ ]:
#Mitigation
Environmental_Taxes_7=pd.read_csv(path+"07_Environmental_Taxes.csv") #useful Indicator_ID
Environmental_Taxes_7['Indicator_ID']=7

Environmental_Protection_Expenditures_8=pd.read_csv(path+"08_Environmental_Protection_Expenditures.csv") #useful
Environmental_Protection_Expenditures_8['Indicator_ID']=8

Fossil_Fuel_Subsidies_9=pd.read_csv(path+"09_Fossil_Fuel_Subsidies.csv") #useful
Fossil_Fuel_Subsidies_9['Indicator_ID']=9

Bilateral_Trade_in_Low_Carbon_Technology_Products_12=pd.read_csv(path+"12_Bilateral_Trade_in_Low_Carbon_Technology_Products.csv") #Useful
Bilateral_Trade_in_Low_Carbon_Technology_Products_12['Indicator_ID']=12

#Climate Finance
Green_Bonds_21=pd.read_csv(path+"21_Green_Bonds.csv") #useful
Green_Bonds_21['Indicator_ID']=21

Carbon_Footprint_of_Bank_Loans_22=pd.read_csv(path+"22_Carbon_Footprint_of_Bank_Loans.csv") #useful
Carbon_Footprint_of_Bank_Loans_22['Indicator_ID']=22

In [ ]:
print(Carbon_Footprint_of_Bank_Loans.columns)

Index(['Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source', 'CTS Code',
       'CTS Name', 'CTS Full Descriptor', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018'],
      dtype='object')

In [ ]:
print(Environmental_Taxes_7.count()) #1239
print(Environmental_Protection_Expenditures_8.count()) #1537
print(Fossil_Fuel_Subsidies_9.count()) #7056
print(Bilateral_Trade_in_Low_Carbon_Technology_Products_12.count()) #135767
print(Green_Bonds_21.count()) #355
print(Carbon_Footprint_of_Bank_Loans_22.count()) #160
#146114

Country                1239
ISO2                   1229
ISO3                   1231
Indicator              1239
Source                 1239
CTS Code               1239
CTS Name               1239
CTS Full Descriptor    1239
Unit                   1239
1995                    744
1996                    748
1997                    748
1998                    756
1999                    758
2000                    808
2001                    824
2002                    828
2003                    836
2004                    836
2005                    870
2006                    880
2007                    888
2008                    918
2009                    918
2010                    944
2011                    936
2012                    932
2013                    930
2014                    934
2015                   1195
2016                   1193
2017                   1189
2018                   1171
2019                   1139
2020                   1047
2021                    660
Indicator_ID           1239
dtype: int64
Country                1537
ISO2                   1523
ISO3                   1523
Indicator              1537
Source                 1537
CTS Code               1537
CTS Name               1537
CTS Full Descriptor    1537
Unit                   1537
1995                    272
1996                    274
1997                    284
1998                    286
1999                    316
2000                    502
2001                    700
2002                    638
2003                    634
2004                    638
2005                    642
2006                    632
2007                    630
2008                    682
2009                    718
2010                    736
2011                    752
2012                    774
2013                    846
2014                    994
2015                   1103
2016                   1129
2017                   1211
2018                   1225
2019                   1229
2020                   1169
2021                    944
2022                     14
Indicator_ID           1537
dtype: int64
Country                7056
ISO2                   7014
ISO3                   7056
Indicator              7056
Source                 7056
CTS Code               7056
CTS Name               7056
CTS Full Descriptor    7056
Unit                   7056
2015                   7056
2016                   7056
2017                   7056
2018                   7056
2019                   7056
2020                   7056
2021                   7056
2022                   7056
2023                   7056
2024                   7056
2025                   7056
2026                   7056
2027                   7056
2028                   7056
2029                   7056
2030                   7056
Indicator_ID           7056
dtype: int64
Country                135767
ISO2                   132697
ISO3                   133457
Counterpart Country    135767
Counterpart ISO2       131644
Counterpart ISO3       132256
Indicator              135767
Unit                   135767
Source                 135767
CTS Code               135767
CTS Name               135767
CTS Full Descriptor    135767
Trade Flow             135767
Scale                  135767
1994                    18600
1995                    20861
1996                    22968
1997                    24317
1998                    39792
1999                    41779
2000                    49332
2001                    51056
2002                    52902
2003                    54730
2004                    57147
2005                    58734
2006                    61118
2007                    63833
2008                    64639
2009                    65060
2010                    67355
2011                    68139
2012                    69438
2013                    71494
2014                    71037
2015                    73586
2016                    75008
2017                    76805
2018                    76681
2019                    77476
2020                    74231
2021                    77268
2022                    72448
2023                    64248
Indicator_ID           135767
dtype: int64
Country                355
ISO2                   106
ISO3                   355
Indicator              355
Unit                   355
Source                 353
CTS Code               353
CTS Name               353
CTS Full Descriptor    353
Type of Issuer         355
Use of Proceed         355
Principal Currency     355
1985                     6
1986                     4
1987                     4
1990                     4
1991                     4
1992                     5
1993                     6
1994                     4
1999                     4
2000                     6
2002                     5
2003                    10
2004                     4
2007                     3
2008                     5
2009                     3
2010                     5
2011                     5
2012                    10
2013                    17
2014                    26
2015                    29
2016                    42
2017                    53
2018                    57
2019                    68
2020                    72
2021                    87
2022                   315
Indicator_ID           355
dtype: int64
Country                160
ISO2                   160
ISO3                   160
Indicator              160
Unit                   160
Source                 160
CTS Code               160
CTS Name               160
CTS Full Descriptor    160
2005                    40
2006                    56
2007                    64
2008                    84
2009                    96
2010                   128
2011                   132
2012                   140
2013                   144
2014                   148
2015                   160
2016                   160
2017                   160
2018                   160
Indicator_ID           160
dtype: int64

In [ ]:
Environmental_Taxes_7["Country_ID"]=Environmental_Taxes_7.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Country']}_{row['ISO2']}_{row['ISO3']}"), axis=1)
Environmental_Taxes_7["CTS_ID"] =  Environmental_Taxes_7.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['CTS Code']}_{row['CTS Name']}_{row['CTS Full Descriptor']}"), axis=1)
Environmental_Taxes_7["Unit_ID"] =  Environmental_Taxes_7.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Unit']}"), axis=1)

Environmental_Protection_Expenditures_8["Country_ID"]=Environmental_Protection_Expenditures_8.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Country']}_{row['ISO2']}_{row['ISO3']}"), axis=1)
Environmental_Protection_Expenditures_8["CTS_ID"] =  Environmental_Protection_Expenditures_8.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['CTS Code']}_{row['CTS Name']}_{row['CTS Full Descriptor']}"), axis=1)
Environmental_Protection_Expenditures_8["Unit_ID"] =  Environmental_Protection_Expenditures_8.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Unit']}"), axis=1)

Fossil_Fuel_Subsidies_9["Country_ID"]=Fossil_Fuel_Subsidies_9.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Country']}_{row['ISO2']}_{row['ISO3']}"), axis=1)
Fossil_Fuel_Subsidies_9["CTS_ID"] =  Fossil_Fuel_Subsidies_9.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['CTS Code']}_{row['CTS Name']}_{row['CTS Full Descriptor']}"), axis=1)
Fossil_Fuel_Subsidies_9["Unit_ID"] =  Fossil_Fuel_Subsidies_9.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Unit']}"), axis=1)

Bilateral_Trade_in_Low_Carbon_Technology_Products_12["Country_ID"]=Bilateral_Trade_in_Low_Carbon_Technology_Products_12.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Country']}_{row['ISO2']}_{row['ISO3']}"), axis=1)
Bilateral_Trade_in_Low_Carbon_Technology_Products_12["CTS_ID"] =  Bilateral_Trade_in_Low_Carbon_Technology_Products_12.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['CTS Code']}_{row['CTS Name']}_{row['CTS Full Descriptor']}"), axis=1)
Bilateral_Trade_in_Low_Carbon_Technology_Products_12["Unit_ID"] =  Bilateral_Trade_in_Low_Carbon_Technology_Products_12.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Unit']}"), axis=1)
Bilateral_Trade_in_Low_Carbon_Technology_Products_12["Counterpart_Country_ID"]=Bilateral_Trade_in_Low_Carbon_Technology_Products_12.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Counterpart Country']}_{row['Counterpart ISO2']}_{row['Counterpart ISO3']}"), axis=1)
Bilateral_Trade_in_Low_Carbon_Technology_Products_12["Counterpart_Country_Trade_ID"]=Bilateral_Trade_in_Low_Carbon_Technology_Products_12.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Trade Flow']}"), axis=1)

Green_Bonds_21["Country_ID"]=Green_Bonds_21.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Country']}_{row['ISO2']}_{row['ISO3']}"), axis=1)
Green_Bonds_21["CTS_ID"] =  Green_Bonds_21.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['CTS Code']}_{row['CTS Name']}_{row['CTS Full Descriptor']}"), axis=1)
Green_Bonds_21["Unit_ID"] =  Green_Bonds_21.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Unit']}"), axis=1)

Carbon_Footprint_of_Bank_Loans_22["Country_ID"]=Carbon_Footprint_of_Bank_Loans_22.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Country']}_{row['ISO2']}_{row['ISO3']}"), axis=1)
Carbon_Footprint_of_Bank_Loans_22["CTS_ID"] =  Carbon_Footprint_of_Bank_Loans_22.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['CTS Code']}_{row['CTS Name']}_{row['CTS Full Descriptor']}"), axis=1)
Carbon_Footprint_of_Bank_Loans_22["Unit_ID"] =  Carbon_Footprint_of_Bank_Loans_22.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Unit']}"), axis=1)

In [ ]:
# Step 1: Identify the complete set of columns
all_columns = sorted(set().union(*[df.columns for df in [Environmental_Taxes_7, Environmental_Protection_Expenditures_8, Fossil_Fuel_Subsidies_9,Bilateral_Trade_in_Low_Carbon_Technology_Products_12,Green_Bonds_21,Carbon_Footprint_of_Bank_Loans_22]]))

In [ ]:
all_columns

['1985',
 '1986',
 '1987',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023',
 '2024',
 '2025',
 '2026',
 '2027',
 '2028',
 '2029',
 '2030',
 'CTS Code',
 'CTS Full Descriptor',
 'CTS Name',
 'CTS_ID',
 'Counterpart Country',
 'Counterpart ISO2',
 'Counterpart ISO3',
 'Counterpart_Country_ID',
 'Counterpart_Country_Trade_ID',
 'Country',
 'Country_ID',
 'ISO2',
 'ISO3',
 'Indicator',
 'Indicator_ID',
 'Principal Currency',
 'Scale',
 'Source',
 'Trade Flow',
 'Type of Issuer',
 'Unit',
 'Unit_ID',
 'Use of Proceed']

In [ ]:
# Step 2: Reindex each DataFrame to align with the complete set of columns
aligned_dfs = [df.reindex(columns=all_columns) for df in [Environmental_Taxes_7, Environmental_Protection_Expenditures_8, Fossil_Fuel_Subsidies_9,Bilateral_Trade_in_Low_Carbon_Technology_Products_12,Green_Bonds_21,Carbon_Footprint_of_Bank_Loans_22]]

In [ ]:
# Step 3: Concatenate the DataFrames
union_df = pd.concat(aligned_dfs, ignore_index=True)

#print(union_df)

In [ ]:
union_df=union_df.drop(columns=['Counterpart Country','Counterpart ISO2','Counterpart ISO3','Trade Flow','Country', 'ISO2', 'ISO3','CTS Code','CTS Name', 'CTS Full Descriptor','Unit'])

In [ ]:
union_df['id']=range(1,len(union_df)+1)

In [ ]:
print(union_df.count())

1985                                 6
1986                                 4
1987                                 4
1990                                 4
1991                                 4
1992                                 5
1993                                 6
1994                             18604
1995                             21877
1996                             23990
1997                             25349
1998                             40834
1999                             42857
2000                             50648
2001                             52580
2002                             54373
2003                             56210
2004                             58625
2005                             60286
2006                             62686
2007                             65418
2008                             66328
2009                             66795
2010                             69168
2011                             69964
2012                             71294
2013                             73431
2014                             73139
2015                             83129
2016                             84588
2017                             86474
2018                             86350
2019                             86968
2020                             83575
2021                             86015
2022                             79833
2023                             71304
2024                              7056
2025                              7056
2026                              7056
2027                              7056
2028                              7056
2029                              7056
2030                              7056
CTS_ID                          146114
Counterpart_Country_ID          135767
Counterpart_Country_Trade_ID    135767
Country_ID                      146114
Indicator                       146114
Indicator_ID                    146114
Principal Currency                 355
Scale                           135767
Source                          146112
Type of Issuer                     355
Unit_ID                         146114
Use of Proceed                     355
id                              146114
dtype: int64

In [ ]:
union_df.to_csv("climate_finance_fact.csv", index=False)

# Dimension table Counterpart country

In [ ]:
import uuid

In [ ]:
cp_country_df1 = Bilateral_Trade_in_Low_Carbon_Technology_Products[['Counterpart Country','Counterpart ISO2','Counterpart ISO3']].drop_duplicates()

In [ ]:
cp_country_df1["Counterpart_Country_ID"]=cp_country_df1.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Counterpart Country']}_{row['Counterpart ISO2']}_{row['Counterpart ISO3']}"), axis=1)

In [ ]:
cp_country_df1.count()

Counterpart Country       249
Counterpart ISO2          232
Counterpart ISO3          234
Counterpart_Country_ID    249
dtype: int64

In [ ]:
# Save the DataFrame to a CSV file
cp_country_df1.to_csv("counterpart_country_dimension.csv", index=False)

In [ ]:
cp_country_tf = Bilateral_Trade_in_Low_Carbon_Technology_Products[['Trade Flow']].drop_duplicates()

In [ ]:
cp_country_tf["Counterpart_Country_Trade_ID"]=cp_country_tf.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Trade Flow']}"), axis=1)

In [ ]:
cp_country_tf.count()

Trade Flow                      3
Counterpart_Country_Trade_ID    3
dtype: int64

In [ ]:
cp_country_tf.to_csv("counterpart_country_trade_dimension.csv", index=False)

# Dimension table Country

In [ ]:
import uuid

In [ ]:
# Select specific columns
country_df1 = Environmental_Taxes[['Country', 'ISO2', 'ISO3']]
country_df2 = Environmental_Protection_Expenditures[['Country', 'ISO2', 'ISO3']]
country_df3 = Fossil_Fuel_Subsidies[['Country', 'ISO2', 'ISO3']]
country_df4 = Bilateral_Trade_in_Low_Carbon_Technology_Products[['Country', 'ISO2', 'ISO3']]
country_df5 = Green_Bonds[['Country', 'ISO2', 'ISO3']]
country_df6 = Carbon_Footprint_of_Bank_Loans[['Country', 'ISO2', 'ISO3']]

# Combine them
country_combined_df = pd.concat([country_df1,country_df2,country_df3,country_df4,country_df5], ignore_index=True).drop_duplicates()

In [ ]:
# Generate a unique ID based on hash of multiple columns
country_combined_df["Country_ID"]=country_combined_df.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Country']}_{row['ISO2']}_{row['ISO3']}"), axis=1)
country_combined_df.count()

Country       222
ISO2          216
ISO3          217
Country_ID    222
dtype: int64

In [ ]:
# Save the DataFrame to a CSV file
country_combined_df.to_csv("country_dimension.csv", index=False)

Dimension table Climate Transition Standard (CTS)

In [ ]:
# Select specific columns
cts_df1 = Environmental_Taxes[[,'CTS Code','CTS Name', 'CTS Full Descriptor']]
cts_df2 = Environmental_Protection_Expenditures[['CTS Code','CTS Name', 'CTS Full Descriptor']]
cts_df3 = Fossil_Fuel_Subsidies[['CTS Code','CTS Name', 'CTS Full Descriptor']]
cts_df4 = Bilateral_Trade_in_Low_Carbon_Technology_Products[['CTS Code','CTS Name', 'CTS Full Descriptor']]
cts_df5 = Green_Bonds[['CTS Code','CTS Name', 'CTS Full Descriptor']]
cts_df6 = Carbon_Footprint_of_Bank_Loans[['CTS Code','CTS Name', 'CTS Full Descriptor']]

# Combine them
cts_combined_df = pd.concat([cts_df1,cts_df2,cts_df3,cts_df4,cts_df5], ignore_index=True).drop_duplicates()

In [ ]:
# Generate a unique ID based on hash of multiple columns
cts_combined_df["CTS_ID"] =  cts_combined_df.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['CTS Code']}_{row['CTS Name']}_{row['CTS Full Descriptor']}"), axis=1)
cts_combined_df.count()

CTS Code               39
CTS Name               39
CTS Full Descriptor    39
CTS_ID                 40
dtype: int64

In [ ]:
# Save the DataFrame to a CSV file
cts_combined_df.to_csv("cts_dimension.csv", index=False)

Unit Dimension table

In [ ]:
# Select specific columns
unit_df1 = Environmental_Taxes[['Unit']]
unit_df2 = Environmental_Protection_Expenditures[['Unit']]
unit_df3 = Fossil_Fuel_Subsidies[['Unit']]
unit_df4 = Bilateral_Trade_in_Low_Carbon_Technology_Products[['Unit']]
unit_df5 = Green_Bonds[['Unit']]
unit_df6 = Carbon_Footprint_of_Bank_Loans[['Unit']]

# Combine them
unit_combined_df = pd.concat([unit_df1,unit_df2,unit_df3,unit_df4,unit_df5], ignore_index=True).drop_duplicates()

In [ ]:
# Generate a unique ID based on hash of multiple columns
unit_combined_df["Unit_ID"] =  unit_combined_df.apply(lambda row: uuid.uuid5(uuid.NAMESPACE_DNS, f"{row['Unit']}"), axis=1)
unit_combined_df.count()

Unit       7
Unit_ID    7
dtype: int64

In [ ]:
# Save the DataFrame to a CSV file
unit_combined_df.to_csv("unit_dimension.csv", index=False)